# Electricity demand

Information coming from public source: UTC (Coordinated Universal Time)

https://www.ree.es/es/apidatos

## Libraries import

In [1]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Imports
import pandas as pd

## Functions definition

In [2]:
# Read csv
def read_csv(path,sep_value):
    return pd.read_csv(path,sep=sep_value)

In [3]:
# Send data to csv
def send_to_csv(df,path):
    return df.to_csv(path)

In [4]:
# Row filter
def row_filter_limits(df, column,low_limit,high_limit):
    return df[(df[column]>=low_limit)&(df[column]<=high_limit)]

## Data import

In [5]:
# Import dataframe
df_electricity_demand=read_csv('../../data/SOTs/electricity_demand/demanda_ES.csv',';')

# Split time
df_electricity_demand['Time']=pd.to_datetime(df_electricity_demand['utcDateTime'], format="%d/%m/%Y %H:%M")
df_electricity_demand['Year']=df_electricity_demand['Time'].dt.year
df_electricity_demand['Month']=df_electricity_demand['Time'].dt.month
df_electricity_demand['Day']=df_electricity_demand['Time'].dt.day
df_electricity_demand['Hour']=df_electricity_demand['Time'].dt.hour
df_electricity_demand['Date']=df_electricity_demand['Time'].dt.date

# Sort columns
df_electricity_demand = df_electricity_demand[['utcDateTime', 'Time','Date', 'Year', 'Month',
                                               'Day','Hour','DemandaElect_ES_MWh']]

# Filter period
df_electricity_demand=row_filter_limits(df_electricity_demand, 'Year',2015,2021)

# Send data to csv
send_to_csv(df_electricity_demand,"../../data/raw_data/electricity_demand.csv")

# Print info
df_electricity_demand

,utcDateTime,Time,Date,Year,Month,Day,Hour,DemandaElect_ES_MWh
336,01/01/2015 0:00,2015-01-01 00:00:00,2015-01-01,2015,1,1,0,"24511,5"
337,01/01/2015 1:00,2015-01-01 01:00:00,2015-01-01,2015,1,1,1,"22866,1667"
338,01/01/2015 2:00,2015-01-01 02:00:00,2015-01-01,2015,1,1,2,"21392,8333"
339,01/01/2015 3:00,2015-01-01 03:00:00,2015-01-01,2015,1,1,3,"20319,6667"
340,01/01/2015 4:00,2015-01-01 04:00:00,2015-01-01,2015,1,1,4,19923
...,...,...,...,...,...,...,...,...
61699,31/12/2021 19:00,2021-12-31 19:00:00,2021-12-31,2021,12,31,19,"27653,1667"
61700,31/12/2021 20:00,2021-12-31 20:00:00,2021-12-31,2021,12,31,20,"26746,5"
61701,31/12/2021 21:00,2021-12-31 21:00:00,2021-12-31,2021,12,31,21,"23952,6667"
61702,31/12/2021 22:00,2021-12-31 22:00:00,2021-12-31,2021,12,31,22,"22324,8333"
61703,31/12/2021 23:00,2021-12-31 23:00:00,2021-12-31,2021,12,31,23,"21558,6667"