In [76]:
# Ignore warnings ignore
import warnings
warnings.filterwarnings('ignore')

In [77]:
# Import libraries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [78]:
# Import dataframe 
df_electricity_demand=pd.read_csv("../../Data/Intermediate_Data/electricity_demand.csv")
df_electricity_demand

,Unnamed: 0,Time,Date,Year,Month,Day,Hour,Demand_MWh,Temp_K,Country_Bank_Holiday,Partial_Bank_Holiday,Partial_Bank_Holiday_Weight,Population
0,0,2015-01-01 00:00:00,2015-01-01,2015,1,1,0,24511.5000,272.368163,1.0,0.0,0.0,43249750.0
1,1,2015-01-01 01:00:00,2015-01-01,2015,1,1,1,22866.1667,272.047456,1.0,0.0,0.0,43249750.0
2,2,2015-01-01 02:00:00,2015-01-01,2015,1,1,2,21392.8333,271.796548,1.0,0.0,0.0,43249750.0
3,3,2015-01-01 03:00:00,2015-01-01,2015,1,1,3,20319.6667,271.602937,1.0,0.0,0.0,43249750.0
4,4,2015-01-01 04:00:00,2015-01-01,2015,1,1,4,19923.0000,271.459464,1.0,0.0,0.0,43249750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61363,61363,2021-12-31 19:00:00,2021-12-31,2021,12,31,19,27653.1667,281.005748,0.0,0.0,0.0,43869377.0
61364,61364,2021-12-31 20:00:00,2021-12-31,2021,12,31,20,26746.5000,280.474065,0.0,0.0,0.0,43869377.0
61365,61365,2021-12-31 21:00:00,2021-12-31,2021,12,31,21,23952.6667,279.770309,0.0,0.0,0.0,43869377.0
61366,61366,2021-12-31 22:00:00,2021-12-31,2021,12,31,22,22324.8333,279.171545,0.0,0.0,0.0,43869377.0
61367,61367,2021-12-31 23:00:00,2021-12-31,2021,12,31,23,21558.6667,278.797684,0.0,0.0,0.0,43869377.0

## Creating calendar features

In [79]:
df_electricity_demand['Time']=pd.to_datetime(df_electricity_demand['Time'], format="%Y-%m-%d %H:%M:%S")

In [80]:
df_electricity_demand["Week_day"]=df_electricity_demand.Time.dt.day_name()

In [81]:
#sabado parcial, domingo total, nacional total, bank holiday 
df_electricity_demand['Week_day_category']=np.where(df_electricity_demand["Time"].dt.dayofweek>4, 
    'Weekend','Week')

In [82]:
df_electricity_demand["Bank_Holiday_Weight"]=df_electricity_demand["Country_Bank_Holiday"]\
+df_electricity_demand["Partial_Bank_Holiday_Weight"]

In [88]:
df_electricity_demand.to_csv("../../Data/Intermediate_Data/electricity_demand_fe.csv")